<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>

    <services>
      <service name="FileReaderService.FileReaderService">
        <endpoint address="http://localhost:8080/FileReaderService"
         binding="wsHttpBinding"
         contract="FileReaderService.IFileReaderService">
        </endpoint>
        <endpoint address="http://localhost:8090/FileReaderService"
                  binding="basicHttpBinding"
                  contract="FileReaderService.IFileReaderService">
        </endpoint>

        
      </service>
    </services>

  </system.serviceModel>

</configuration>

